body {
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #3e3e3e;

  background-color: #e9ebed
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #3a3c6e;
}

h2 {
  color: #506ed1;
  font-size: 36px;
  padding-top: 5px;
  margin: 10px 0 auto;
}

h3 {
  color: #506ed1;
  font-size: 32px;
  margin: 10px auto;
}

p {
  line-height: 28px;
}

.highlights, #dev-full {
  color: #506ed1;
  font-weight: bold;
  font-size: 28px;
}

ul {
  width: 300px;
  margin: 0 auto;
}

.about {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.about-content {
  display: inline-block;
  max-width: 500px;
  padding: 35px;
  margin: 30px;
}
img.about-content {
  border-radius: 50%;
}

.skills-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 35px;
}

.skills-list {
  display: inline-block;
  max-width: 500px;
  text-align: center;
  padding: 35px;
}

.links-container, .index-container {
  margin: 0 auto ;
  max-width: 1170px;
  padding: 35px;
}

.index-container ul {
  width: 200px;
}

.top-line {
  border-top: solid 1px rgba(115,180,241, 0.5);
}