body {
  color: #3e3e3e;
  background-color: #e9ebed;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #3a3c6e;
  font-size: 40px;
}

h2 {
  color: #506ed1;
  font-size: 32px;
  padding: 10px;
  margin: 0 auto;
}

h3 {
  color: #506ed1;
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
}

p {
  line-height: 28px;
}

a {
  color: #506ed1;
  text-decoration: none;
}

ul {
  margin: 10px auto;
  width: 300px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-content {
  width: 70%;
  margin-right: 16px;
}

.main-content h2 {
  margin-bottom: 8px;
}

/* projetos */
.projects {
  /* display: grid;
  grid-auto-rows: 250px; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  max-width: 95%;
}

.card {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 8px;
}

.card:nth-child(2n) {
	flex-direction: row-reverse;
}

.card img, .card-content {
	border-radius: 8px;
	box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
  background: rgba(115,180,241, 0.5);
  margin: 4px;
}
.card img {
	height: 100%;
	max-width: 350px;
	max-height: 250px;
}
.card-content {
	margin: 0 4px;
	height: 90%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 0;
}

/* aside */
.about {
  max-width: 400px;
  margin: 0;
  width: 25%;
}

.about-content {
  display: inline-block;
  max-width: 300px;
}

.about-photo {
  border: solid 5px #3a3c6e;
  border-radius: 50%;
  max-width: 250px;
}

.skills-container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.links-container {
  margin: 20px auto ;
  max-width: 1170px;
  padding: 10px;
}

.top-line {
  border-top: solid 1px rgba(115,180,241, 0.5);
}

.footer {
  align-items: center;
  color: #3a3c6e;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

footer img {
  max-height: 24px;
}
